:root {
  --w-header-bg: #f5f7fa;
}

html.dark {
  --w-header-bg: #262727;
}



@font-face {
  font-family: 'MiSans';
  src: url('@/assets/font/MiSans-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'MiSans';
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}