:root {}





@font-face {
  font-family: 'MiSans';
  src: url('@/assets/font/MiSans-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'MiSans';
}

html,
body {
  width: 100%;
  height: 100%;
  color: #303133;
}

#app {
  width: 100%;
  height: 100%;
}